/* ==========================================================================
 # Gutenberg Editor (back-end)
========================================================================== */

// @import "bootstrap-custom";
$font-family-base: 'Noto Serif', serif;
$primary: blue;
$block-max-width: 580px;

.editor-styles-wrapper {

	// Target all blocks
	.wp-block {
		font-family: $font-family-base;
		font-size: 15px;
		line-height: 1.8;
		max-width: $block-max-width;
	}
	
	h2[data-type="core/heading"] {
		font-size: 18px;
		line-height: 1.5;
	}
	
	h3[data-type="core/heading"] {
		font-size: 15px;
		line-height: 1.667;
	}
	
	[data-type="core/paragraph"] {
		&.is-style-lead {
			font-size: 18px;
		}
	}
	
	.block-editor-rich-text__editable a,
	.wp-block-file__textlink {
		color: $primary;
		
		&:hover {
			color: darken($primary, 15%);
		}
	}
}

// editor title
.editor-post-title__block .editor-post-title__input {
	font-family: $font-family-base;
	font-size: 32px;
}
