/* ==========================================================================
 # Gutenberg Editor (back-end)
========================================================================== */

// @import "bootstrap-custom";

.edit-post-visual-editor .block-editor-block-list__block {
// 	font-family: $font-family-base;
	font-size: 15px;
	line-height: 1.8;
	
	.wp-block-heading {
		h2 {
			font-size: 18px;
			line-height: 1.5;
		}
		
		h3 {
			font-size: 15px;
			line-height: 1.667;
		}
	}
	
/*
	.wp-block-paragraph {
		&.is-style-lead {
			
		}
	}
*/
	
	.block-editor-rich-text__editable a,
	.wp-block-file__textlink {
// 		color: $primary;
		
		&:hover {
// 			color: darken($primary, 15%);
		}
	}
}

.wp-block {
/* Content width + 30px for margins */
// 	max-width: calc(668px + 30px);
}

// editor title
.editor-post-title__block .editor-post-title__input {
// 	font-family: $font-family-base;
	font-size: 32px;
}
