/* WordPress core classes */

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.wp-caption {
  margin: 5px 20px 20px 0;
  
  .wp-caption-text {
	background: #f4f4f4;
	border: 1px solid #ddd;
	margin: 0;
	padding: 5px 4px 5px;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
